In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('students.csv')

In [3]:
df.head(13)

,Age,Growth,Shoe size,Course number,Year of birth,Friend number,Russian rating,Maths rating,Physics rating,Computer science rating,...,Social network duration min,Chocolate,City population,Strange people,Your insitute,Brother-sister,Plane seat,MIddle and index finger,Middle and ring finger,Middle and little finger
0,20,170,40,2,2002,100,85,86,0,84,...,45,Сникерс,800000.0,Экономический,Математический и ИТ,нет ни брата ни сестры,У окна (пардон: у иллюминатора),20,10.0,40.0
1,22,191,43,7,2000,307,69,74,64,72,...,180,КитКат,800000.0,Математический и ИТ,Математический и ИТ,есть и брат и сестра,В середине,5,5.0,20.0
2,21,172,41,4,2000,186,78,62,0,0,...,90,КитКат,770000.0,Педагогический,Другое,есть брат,У окна (пардон: у иллюминатора),13,10.0,26.0
3,19,168,38,2,2003,604,72,0,0,0,...,200,Баунти,900000.0,СоцГум,Юридический,есть сестра,У окна (пардон: у иллюминатора),12,13.5,35.0
4,23,159,36,1,1998,144,0,0,0,0,...,400,Баунти,860000.0,Педагогический,Педагогический,есть сестра,У окна (пардон: у иллюминатора),10,11.0,22.0
5,18,177,40,2,2003,100,70,68,0,75,...,250,Сникерс,1200000.0,СоцГум,Математический и ИТ,есть брат,У окна (пардон: у иллюминатора),12,7.0,30.0
6,18,180,42,0,2004,0,66,4,0,0,...,30,Сникерс,700000.0,Педагогический,Юридический,есть брат,У окна (пардон: у иллюминатора),5,30.0,35.0
7,19,180,48,1,2003,5,72,0,0,0,...,240,Баунти,880000.0,Естественный (биология-химия-физика-технари),Юридический,есть брат,У окна (пардон: у иллюминатора),7,5.0,25.0
8,20,185,46,3,2002,28,87,76,0,0,...,120,Скиттлс (хотя это и не шоколадка),800000.0,Естественный (биология-химия-физика-технари),Экономический,есть брат,В середине,5,3.0,15.0
9,22,168,38,6,2000,297,71,5,0,0,...,40,Милки Вей,860.0,Математический и ИТ,СоцГум,есть брат,У окна (пардон: у иллюминатора),15,10.0,40.0
10,20,158,35,4,2001,1000,85,72,0,0,...,600,КитКат,800000.0,Педагогический,Естественный (биология-химия-физика-технари),есть и брат и сестра,У прохода,10,9.0,15.0
11,19,183,44,2,2002,40,5,5,0,6,...,300,КитКат,880000.0,Математический и ИТ,Математический и ИТ,нет ни брата ни сестры,У окна (пардон: у иллюминатора),9,10.0,15.0
12,21,169,39,4,2001,150,68,27,0,0,...,240,M&Ms,800.0,Педагогический,Экономический,есть сестра,В середине,9,11.0,25.0

In [4]:
df.info(13)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

In [5]:
df.tail(18)

,Age,Growth,Shoe size,Course number,Year of birth,Friend number,Russian rating,Maths rating,Physics rating,Computer science rating,...,Social network duration min,Chocolate,City population,Strange people,Your insitute,Brother-sister,Plane seat,MIddle and index finger,Middle and ring finger,Middle and little finger
168,22,161,38,7,2000,50,91,74,0,0,...,1800,Натс,850000.0,Математический и ИТ,Другое,есть брат,У окна (пардон: у иллюминатора),5,13.0,35.0
169,21,160,37,4,2001,221,94,76,0,0,...,0,Сникерс,800000.0,Педагогический,Экономический,нет ни брата ни сестры,У окна (пардон: у иллюминатора),9,10.0,32.0
170,22,168,38,4,2000,49,100,56,0,0,...,240,КитКат,500000.0,Педагогический,Экономический,нет ни брата ни сестры,У окна (пардон: у иллюминатора),10,5.0,20.0
171,20,162,37,2,2002,70,82,0,0,0,...,540,Твикс,900.0,СоцГум,Юридический,есть сестра,У прохода,4,11.0,25.0
172,21,164,37,4,2000,260,86,0,0,0,...,60,Милки Вей,900000.0,Математический и ИТ,СоцГум,есть брат,У окна (пардон: у иллюминатора),10,6.0,30.0
173,29,176,39,7,1992,233,72,69,0,0,...,60,Сникерс,850000.0,Математический и ИТ,Экономический,есть сестра,У окна (пардон: у иллюминатора),7,11.0,30.0
174,20,158,37,3,2001,21,91,56,0,0,...,120,Милки Вей,700000.0,Математический и ИТ,Естественный (биология-химия-физика-технари),нет ни брата ни сестры,У прохода,9,10.0,35.0
175,18,176,38,2,2003,183,90,0,0,0,...,240,Марс,854627.0,Естественный (биология-химия-физика-технари),СоцГум,есть сестра,У окна (пардон: у иллюминатора),16,13.0,28.0
176,21,162,38,7,2000,150,89,0,0,0,...,300,Твикс,800000.0,СоцГум,СоцГум,есть и брат и сестра,У окна (пардон: у иллюминатора),13,12.0,40.0
177,23,155,36,6,1999,90,91,51,0,0,...,100,Баунти,900000.0,Математический и ИТ,Математический и ИТ,есть сестра,У окна (пардон: у иллюминатора),5,4.0,3.0
178,21,170,39,4,2001,123,76,0,0,0,...,360,Сникерс,800000.0,СоцГум,Юридический,есть и брат и сестра,У окна (пардон: у иллюминатора),3,2.0,7.0
179,20,176,42,3,2001,80,85,0,0,0,...,120,Сникерс,700000.0,СоцГум,Юридический,есть сестра,У окна (пардон: у иллюминатора),5,5.0,20.0
180,21,167,36,4,2000,120,98,56,0,0,...,120,Твикс,8000000.0,Педагогический,Педагогический,есть сестра,У окна (пардон: у иллюминатора),10,5.0,25.0
181,23,168,39,7,1999,228,93,68,0,0,...,300,Твикс,770000.0,Естественный (биология-химия-физика-технари),Естественный (биология-химия-физика-технари),нет ни брата ни сестры,У окна (пардон: у иллюминатора),13,23.0,45.0
182,19,169,38,1,2003,0,73,5,0,0,...,75,M&Ms,1250000.0,Педагогический,СоцГум,есть сестра,У окна (пардон: у иллюминатора),8,9.0,15.0
183,18,161,37,2,2003,11,98,0,0,0,...,460,Твикс,1000000.0,Естественный (биология-химия-физика-технари),Другое,есть и брат и сестра,У окна (пардон: у иллюминатора),9,16.0,35.0
184,19,169,41,1,2003,22,82,86,0,0,...,540,Твикс,850000.0,Естественный (биология-химия-физика-технари),Математический и ИТ,есть брат,У окна (пардон: у иллюминатора),9,15.0,25.0
185,18,164,39,2,2003,500,94,5,0,0,...,400,Твикс,800000.0,Юридический,СоцГум,нет ни брата ни сестры,У окна (пардон: у иллюминатора),7,10.0,35.0

In [6]:
df['Weight'].mean()

64.03184713375796

In [7]:
df['Weight'].median()

60.0

In [8]:
df['Weight'].min()

3.0

In [9]:
df['Weight'].max()

120.0

In [10]:
df['Rock paper scissors'].value_counts()

Ножницы    88
Камень     60
Бумага     38
Name: Rock paper scissors, dtype: int64

In [11]:
df_cut = df[['Weight', 'Sex']]
df_cut.head(11)

    Weight      Sex
0     64.0  женский
1     73.0  мужской
2     60.0  мужской
3     59.0  женский
4     57.0  женский
5     50.0  мужской
6     55.0  мужской
7    120.0  мужской
8     69.0  мужской
9     58.0  женский
10    47.0  женский

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

In [13]:
gr_w = df[['Weight', 'Growth']]
gr_w[gr_w['Weight']==gr_w['Weight'].max()]

   Weight  Growth
7   120.0     180

In [14]:
df.Army.value_counts()

не призовут (по разным причинам)    149
могут призвать                       37
Name: Army, dtype: int64

In [15]:
army_persons = df[df['Army']=='могут призвать']
free_persons = df[df.Army=='не призовут (по разным причинам)']

In [16]:
army_persons['Hair length'].mean(), free_persons['Hair length'].mean()

(11.045945945945945, 40.15570469798658)

In [17]:
army_persons['Hair length'].mean(), free_persons['Hair length'].mean()

(11.045945945945945, 40.15570469798658)

In [18]:
df[df['Friend number']==0].shape

(2, 48)

In [19]:
df['Animal'].value_counts()

Кошек                     115
Собак                      60
Ненавижу этих животных     11
Name: Animal, dtype: int64

In [20]:
df['Floor number'].describe()

count    186.000000
mean       6.322581
std        4.338791
min        1.000000
25%        3.000000
50%        5.000000
75%        8.000000
max       20.000000
Name: Floor number, dtype: float64

In [21]:
dog_lovers = df[df['Animal']=='Собак']
dog_lovers['Floor number'].count()

60

In [22]:
dog_lovers[dog_lovers['Floor number']==1]['Floor number'].count()

7

In [23]:
round((dog_lovers[dog_lovers['Floor number']==1]['Floor number'].count()) / (dog_lovers['Floor number'].count()) *100)

12.0

In [24]:
df['Brother-sister'].value_counts()

есть брат                 62
есть сестра               55
нет ни брата ни сестры    39
есть и брат и сестра      30
Name: Brother-sister, dtype: int64

In [25]:
single_child = df[df['Brother-sister']=='нет ни брата ни сестры']
not_single_child = df[df['Brother-sister']!='нет ни брата ни сестры']

In [26]:
single_child['Social network duration min'].median() - not_single_child['Social network duration min'].median()

60.0

In [27]:
df['Fastfood'].value_counts()

KFC                                                82
Бургер кинг                                        56
Макдональдс (или как он там сейчас называется?)    48
Name: Fastfood, dtype: int64

In [28]:
KFC_persons = df[df['Fastfood']=='KFC']
Burger_persons = df[df['Fastfood']=='Бургер кинг']
Mac_persons = df[df['Fastfood']=='Макдональдс (или как он там сейчас называется?)']

In [30]:
KFC_persons['Weight'].mean(), Burger_persons['Weight'].mean(), Mac_persons['Weight'].mean()

(66.85915492957747, 64.21739130434783, 58.8)

In [32]:
KFC_persons['Weight'].mean() - Mac_persons['Weight'].mean()

8.059154929577474

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Age                          186 non-null    int64
 1   Growth                       186 non-null    int64
 2   Shoe size                    186 non-null    int64
 3   Course number                186 non-null    int64
 4   Year of birth                186 non-null    int64
 5   Friend number                186 non-null    int64
 6   Russian rating               186 non-null    int64
 7   Maths rating                 186 non-null    int64
 8   Physics rating               186 non-null    int64
 9   Computer science rating      186 non-null    int64
 10  Chemistry rating             186 non-null    int64
 11  Literature rating            186 non-null    int64
 12  History rating               186 non-null    int64
 13  Geography rating             186 non-null    int64
 14  Biology rating               186 non-null    int64
 15  Foreign language rating      186 non-null    int64
 16  Social science rating        186 non-null    int64
 17  Distance to home km          186 non-null    int64
 18  Minutes to first class       186 non-null    int64
 19  Children number              150 non-null    float64
 20  Removed teeth                148 non-null    float64
 21  Weight                       157 non-null    float64
 22  Glasses                      184 non-null    object
 23  Sex                          186 non-null    object
 24  Problems in last semester    186 non-null    object
 25  Coin                         186 non-null    object
 26  Rock paper scissors          186 non-null    object
 27  Animal                       186 non-null    object
 28  Month of birthday            186 non-null    int64
 29  Your rating in university    186 non-null    object
 30  Fastfood                     186 non-null    object
 31  Height of 5000 mm            186 non-null    int64
 32  Width of 5000 mm             186 non-null    int64
 33  Putin age                    186 non-null    int64
 34  Army                         186 non-null    object
 35  Hostel                       186 non-null    object
 36  Hair length                  186 non-null    float64
 37  Floor number                 186 non-null    int64
 38  Social network duration min  186 non-null    int64
 39  Chocolate                    186 non-null    object
 40  City population              186 non-null    float64
 41  Strange people               186 non-null    object
 42  Your insitute                186 non-null    object
 43  Brother-sister               186 non-null    object
 44  Plane seat                   186 non-null    object
 45  MIddle and index finger      186 non-null    int64
 46  Middle and ring finger       186 non-null    float64
 47  Middle and little finger     186 non-null    float64
dtypes: float64(7), int64(26), object(15)
memory usage: 69.9+ KB

In [34]:
df_cut = df[['Year of birth', 'Growth', 'Weight', 'Hair length', 'Shoe size']]

In [35]:
df_cut_sort = df_cut.sort_values(by=['Shoe size', 'Growth'], ascending=[False, True])

In [36]:
df_cut_sort.head(9)

     Year of birth  Growth  Weight  Hair length  Shoe size
7             2003     180   120.0         20.0         48
27            2003     193    61.0          3.0         48
8             2002     185    69.0         25.0         46
103           2002     197   100.0         23.0         46
55            1999     180    92.0          0.2         45
76            2002     184     NaN         20.0         45
145           1999     184    92.0         45.0         45
16            2003     185    64.0          4.0         45
20            2001     186    93.0         20.0         45

In [37]:
df_cut['Full length'] = df_cut['Growth']+df_cut['Hair length']

C:\Users\valer\anaconda3\anac\envs\requirements\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
df_cut['Full length'].max()

319.0

In [39]:
df_cut.corr()

,Year of birth,Growth,Weight,Hair length,Shoe size,Full length
Year of birth,1.000000,-0.113357,0.006042,0.095402,-0.108360,0.064713
Growth,-0.113357,1.000000,0.544528,-0.554408,0.863252,-0.235492
Weight,0.006042,0.544528,1.000000,-0.319416,0.591149,-0.145316
Hair length,0.095402,-0.554408,-0.319416,1.000000,-0.567568,0.939398
Shoe size,-0.108360,0.863252,0.591149,-0.567568,1.000000,-0.307190
Full length,0.064713,-0.235492,-0.145316,0.939398,-0.307190,1.000000

In [40]:
df_group = df.groupby('Glasses')['Russian rating', 'Maths rating'].mean()

C:\Users\valer\anaconda3\anac\envs\requirements\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

In [41]:
df_group.head()

                                     Russian rating  Maths rating
Glasses
да                                        83.388235     56.741176
нет                                       80.471910     59.955056
простите. не увидел(а) вопроса ))))       77.900000     54.700000

In [42]:
df.groupby('Rock paper scissors')['Russian rating', 'Maths rating'].mean().head()

C:\Users\valer\anaconda3\anac\envs\requirements\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

                     Russian rating  Maths rating
Rock paper scissors
Бумага                    76.473684     52.894737
Камень                    81.450000     62.166667
Ножницы                   83.988636     57.738636